doctype html
html
  head
    title= title
    meta(name="renderer",content="webkit")
    meta(http-equiv="X-UA-Compatible",content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel='stylesheet', href='/stylesheets/style.css')
    //script(src="https://cdnjs.cloudflare.com/ajax/libs/react/15.0.1/react.js")
    //script(src="https://cdnjs.cloudflare.com/ajax/libs/react/15.0.1/react-dom.js")
    //script(src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.6.16/browser.js")
    //link(rel='stylesheet', href='/local/pace-theme-minimal.css')
    //script(src="/local/jquery.min.js")
    //script(src="/local/bootstrap.min.js")
    //script(src="/local/pace.min.js" data-pace-options='{ "ajax": false }')
    link(rel='stylesheet', href='https://cdn.bootcss.com/pace/1.0.2/themes/blue/pace-theme-minimal.css')
    script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.2/jquery.min.js")
    script(src="http://cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js")
    script(src="https://cdn.bootcss.com/pace/1.0.2/pace.min.js" data-pace-options='{ "ajax": false }')
  body
      include ./t/navbar
      main.container
        include ./t/header
        include ./t/msg
        block content
      include ./t/footer
      if(hasCart)
        include ./t/cart

